.user_profile {
  width: 100%;
  background-color: var(--bg-secondary);
  color: var(--main-color);
  text-align: center;
  padding: 12px 16px;
}

.user_nav {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.user_nav_link {
  margin: 0;
  padding: 11px;
  width: 40px;
  height: 40px;
  color: var(--main-color);
  &:visited {
    color: var(--main-color);
  }
}

.user_main_info {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.user_name {
  margin: 12px 0 16px;
  padding: 0;
  font-size: 36px;
  font-weight: normal;
}

.user_status {
  margin: 0 0 16px 0;
  padding: 0;
  font-size: 20px;
  font-weight: normal;
}

.user_pfp {
  margin-bottom: 52px;
  width: 187px;
  height: 187px;
  border-radius: 50%;
}

.user_about_wrapper {
  max-width: 1064px;
  margin: 0 auto;
  padding: 32px 16px;
}

.user_contacts {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user_contact_item {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
  align-items: center;
}

.user_contact_item_svg {
  flex-shrink: 0;
}

.user_contact_item + .user_contact_item {
  margin-top: 24px;
}

@media (min-width: 760px) {
  .user_profile {
    position: relative;
  }

  .user_nav {
    position: absolute;
    left: 0;
    right: 0;
  }

  .user_nav_link {
    display: none;
  }

  .user_nav_link_back_desktop {
    padding: 8px 16px;
    width: 80px;
    height: 38px;
    border: 1px solid var(--main-color);
    border-radius: var(--md-radius);
    &:hover {
      cursor: pointer;
      color: var(--accent2);
      border: 1px solid var(--accent2);
    }
  }

  .user_nav_link_back_desktop:hover .user_nav_link_desktop {
    color: var(--accent2);
  }

  .user_nav_link_desktop {
    color: var(--main-color);
    &:visited {
      color: var(--main-color);
    }
    &:hover {
      color: var(--shadow);
    }
  }

  .user_profile {
    padding: 32px 80px;
    min-height: 265px;
  }

  .user_main_info {
    max-width: 1064px;
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
  }

  .user_pfp {
    order: 1;
    margin: 0;
  }

  .user_main_info_name {
    order: 2;
    text-align: left;
  }

  .user_about_wrapper {
    padding: 40px 100px 0 100px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
    gap: 20px;
  }

  .user_contacts {
    order: 1;
  }

  .user_about_details {
    order: 2;
  }
}

@media (min-width: 1000px) {
  .user_about_wrapper {
    padding: 40px 20px 0;
    flex-flow: row nowrap;
    gap: 130px;
  }

  .user_contacts {
    order: 2;
  }

  .user_about_details {
    order: 1;
    width: 630px;
  }
}
