.user_card {
  margin-bottom: 20px;
  padding: 36px 20px 20px;
  width: 305px;
  text-align: center;
  border-radius: var(--base-radius);
  -webkit-box-shadow: 0 0 5px 2px var(--shadow);
  -moz-box-shadow: 0 0 5px 2px var(--shadow);
  box-shadow: 0 0 5px 2px var(--shadow);
  &:hover {
    outline: 1px solid var(--accent2);
  }
}

.user_card_link:focus-visible {
  border: 1px solid var(--accent2);
}

.user_card_pfp {
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  object-fit: cover;
  width: 124px;
  height: 124px;
}

.user_card_profile_name {
  margin: 16px 0 16px;
  padding: 0;
  font-size: 20px;
  font-weight: normal;
}

.user_card_button {
  display: block;
  margin-left: auto;
  border: none;
  border-radius: var(--mini-radius);
  height: 28px;
  width: 30px;
}
