.wrapper {
  position: relative;
}

.user_card {
  display: block;
  margin-bottom: 20px;
  padding: 36px 20px 52px;
  width: 305px;
  text-align: center;
  border-radius: var(--base-radius);
  -webkit-box-shadow: 0 0 5px 2px var(--shadow);
  -moz-box-shadow: 0 0 5px 2px var(--shadow);
  box-shadow: 0 0 5px 2px var(--shadow);
  &:hover {
    outline: 2px solid var(--accent2);
  }
}

.user_card_pfp {
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  object-fit: cover;
  width: 124px;
  height: 124px;
}

.user_card_profile_name {
  margin: 16px 0 16px;
  padding: 0;
  font-size: 20px;
  font-weight: normal;
}
