:root {
  --ff-main: Roboto, sans-serif;

  --fc-main: #151317;
  --main-color: #ffffff;
  --secondary-color: #512689;
  --accent-link: #7e3bd5;
  --accent: #ff6161;
  --accent2: #009faa;
  --bg-input: #f8f8f8;
  --shadow: #e0e3e9;
  --fc-placeholder: #808185;

  --max-radius: 16px;
  --base-radius: 10px;
  --md-radius: 8px;
  --mini-radius: 4px;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-main);
  color: var(--fc-main);
  font-size: 16px;
  font-family: var(--ff-main);
}

a {
  text-decoration: none;
  color: var(--secondary-color);
  &:visited {
    color: var(--accent-link);
  }
  &:hover {
    color: var(--accent2);
  }
}

button:hover {
  cursor: pointer;
}

button:focus-visible {
  outline: 2px solid var(--accent2);
}

.sr_only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
