:root {
  font-family: Roboto, sans-serif;

  --fc-main: #151317;
  --main-color: #ffffff;
  --bg-secondary: #512689;
  --accent: #ff6161;
  --accent2: #009faa;
  --bg-input: #f8f8f8;
  --shadow: #e0e3e9;

  --base-radius: 10px;
  --md-radius: 8px;
  --mini-radius: 4px;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-main);
  color: var(--fc-main);
  font-size: 16px;
}

a {
  text-decoration: none;
  color: var(--fc-main);
  &:visited {
    color: var(--bg-secondary);
  }
}

button:hover {
  cursor: pointer;
}

button:focus-visible {
  outline: 1px solid var(--accent2);
}
